# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
*.egg

# Django
db.sqlite3
*.log
.env
.venv
venv/
logs/

# IDE
.vscode/
.idea/
*.swp

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Тесты
.pytest_cache/
.coverage
htmlcov/

# Временные файлы
*.tmp
*.bak